@font-face {
    font-family: 'CocogoosePro';
    src: url('path-to-your-font/Cocogoose_Pro-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #fff7ad, #ffd2d1, #ffa9f9); /* Gradasi horizontal */
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #fff7ad, #ffd2d1, #ffa9f9); /* Gradasi horizontal */
    color: #1f5692;
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 45px; /* Anda bisa menyesuaikan ukuran sesuai keinginan */
}

nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #000000;
    margin: 10px;
}
section {
    text-align: center;
    margin: 20px;
}
footer {
    background: linear-gradient(to right, #333, #111); /* Gradasi horizontal */
    color: #fff;
    text-align: center;
    padding: 10px;
}

.left-image {
    margin-right: 350px;
    max-width: 100%; /* Lebar maksimum gambar */
}

.right-image {
    max-width: 100%; /* Lebar maksimum gambar */
}

